html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: rgb(7, 144, 166);
    background-color: rgba(7, 144, 166, 0.40);
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.navbar-custom {
    background-color: #51aebd;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, 1);
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #303c4f;
}

.navbar-custom .nav-item.active .nav-link {
    color: #303c4f;
    font-weight: bold;
}

.navbar-custom .navbar-toggler {
    border-color: white;
}

.navbar-custom .navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

.navbar-custom .navbar-nav>li {
    float: left;
    position: relative;
}

.navbar-custom .navbar-nav .active a::after {
    border-bottom: 5px solid #303c4f;
    bottom: -8px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
}

.jumbotron.blue {
    background-color: rgba(81, 174, 189);
    background-color: rgba(81, 174, 189, 0.40);
}

#notification {
    position: absolute;
    top: 60px;
    right: 0;
}

#para {
    border: 1px solid black;
    width: 300px;
    height: 100px;
    overflow: scroll;
}

.toast-color {
    color: white;
    background-color: #33b5e5;
}

h1 {
    color: green;
}

footer {
    background-color: rgba(81, 174, 189, 0.40);
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn.custom {
    background-color: #51aebd;
    border-color: #51aebd;
}

.btn.custom:hover {
    background-color: #168597;
    border-color: #168597;
}

/* Annonce */
.card-title {
    line-height: 1.2em;
    height: 1.2em;
    text-overflow: ellipsis ellipsis;
    overflow: hidden;
    display: block;
}

.announce-img {
    text-align: center;
    background-color: #7e7c7c;
    height: 360px;
}

.announce-img img {
    max-width: 100%;
    height: auto;
    max-height: 360px;
}

.announce-grey-card {
    background-color: #969696;
}

.announce-card-img {
    width: auto;
    height: 100%;
    border-radius: 4px 4px 0px 0px;
}
.announce-link:hover {
    text-decoration: none !important;
}
.announce-card-desc {
    height: 90px;
    text-overflow: ellipsis ellipsis;
    overflow: hidden;
    display: block;
}

/* Account */
.list-group-item.active.custom {
    background-color: #51aebd !important;
    border-color: #1991a4 !important;
}

.list-group-item:hover {
    text-decoration: none !important;
}

.list-group-item {
    color: #0c6675;
}

.list-group-item:hover {
    color: #3f595e;
}
.list-group-item.active:hover {
    color: white;
}

.message-box {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.message {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}

.message .name {
    font-weight: bold;
    display: block;
}

.message.blue {
    background-color: rgba(83, 198, 255, 0.4);
    border-color: rgba(83, 198, 255, 1);
}

.message.grey {
    background-color: rgba(152, 193, 213, 0.4);
    border-color: rgba(152, 193, 213, 1);
}

.message.grey .name {
    /* text-align: right;*/
}

.message-img {
    width: 100%;
    height: auto;
    background-color: #f2f1f1;
    vertical-align: middle;
}

.clickable-row {  
    cursor: pointer;
}

/* Typeahead */

.twitter-typeahead {
    width: 100%;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 100%;
}
.tt-suggestion {
    font-size: 22px;  /* Set suggestion dropdown font size */
    padding: 3px 20px;
}
.tt-suggestion:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}

/* Localisation */
#localisation-map {
    height: 180px;
}